<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Job website</title>
    </head>
    <body>
        <h1>{{ total_categories }} job categories:</h1>
        <ol id="categories">
            {% for cat in categories %}
                <li class="category-li">
                    <a href="{{ cat.url }}">{{ cat.name }}</a>
                </li>
            {% endfor %}
        </ol>
        {% include "pagination.jinja2" %}
    </body>
</html>
