<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jobs in {{ category.name }}</title>
    </head>
    <body>
        <h1>{{ total_jobs }} jobs in {{ category.name }}:</h1>
        {# TODO: pagination  #}
        <ol id="jobs">
            {% for job in jobs %}
                <li class="job-li">
                    <h2 class="job-title">
                        <a class="job-link" href="{{ job.url }}">{{ job.title }}</a>
                    </h2>
                    <p>Company: {{ job.company_name }}</p>
                    <p>Location: {{ job.location }}</p>
                    <p>Salary: {{ job.salary }}</p>
                </li>
            {% endfor %}
        </ol>
    </body>
</html>
