<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jobs in {{ category.name }}</title>
    </head>
    <body>
        <h1>Jobs in {{ category.name }}:</h1>
        {# TODO: pagination  #}
        <ol id="jobs">
            {% for job in jobs %}
                <li class="job-li">
                    <a href="{{ job.url }}">{{ job.title }}</a>
                </li>
            {% endfor %}
        </ol>
    </body>
</html>
